<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    syntaxCheck="true"
    processIsolation="false"
    colors="true"
    verbose="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    timeoutForSmallTests="5"
    timeoutForMediumTests="10"
    timeoutForLargeTests="15">
<php>
         <ini name="display_errors" value="true"/>
    </php>
    <testsuites>
        <testsuite name="php db migrate test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
