<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./tests/bootstrap.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    syntaxCheck="true"
    processIsolation="false"
    colors="true"
    strict="true"
    verbose="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="php db migrate test suite">
            <directory>./test *Test.php</directory>
        </testsuite>
    </testsuites>
</phpunit>